{% load static %}
{% include 'registration/includes/header.html' %}
<form class="theme-form" onsubmit="Loader(this.id)" id="reset-password" method="POST">
    <h4 class="text-center">Reset Password</h4>
    <p class="text-center">Your password must consist of atleast 8-20 characters including numbers and a special character, and must not contain spaces and emojis.</p>
    <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="pass-group">
            <input type="password" class="form-control pass-input" id="password" placeholder="Please enter your password" name="password" {% if password %}value="{{password}}"{% endif %}>
            <span class="fas toggle-password fa-eye-slash"></span>
        </div>
    </div>
    <div class="text-end mt-3">
        <button type="submit" class="btn login-btn btn-block w-100 ">Reset Password</button>
    </div>
</form>
{% include 'registration/includes/footer.html' %}
<script type="text/javascript">
    $.validator.addMethod(
        "strongpassword",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Please Choose strong password."
    );
    $("#reset-password").validate({
        rules: {
            password: {
                required: true, 
                minlength: 8,
                maxlength: 35,
                normalizer: function (value) {
                    return $.trim(value);
                },
                strongpassword:"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$",
            },
        },
        messages: {
            password: {
                required: "Please enter your password",
                minlength: "At least 8 characters required!",
                maxlength: "At most 35 characters only!",
                strongpassword:"Password must have one uppercase, lowercase, symbol and number",
            },
        }
    });
</script>
