{% include 'broker/includes/header.html' %}
{% load static %}
{% load extras %}

<section class="user-page section-padding">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-lg-3 col-md-12 col-xs-12 pl-0 pr-0 user-dash">
                {% include 'broker/includes/sidebar.html' %}
                
            </div>
            <div class="col-lg-12 pl-0 user-dash2">
                <ul class="breadcrumbs">
                    <li class="breadcrumb-item"><a href="{% url 'broker:broker_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Update Property</li>
                </ul>
                <div class="page-body-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="custom-form" id="edit-property" method='POST' onsubmit="return Loader(this.id)" enctype="multipart/form-data">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4 class="card-title">Property Description And Price</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="sidebar-widget property-form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Property Name</label>
                                                        <input type="text" name="name" maxlength='55'  value='{% if property.name %}{{property.name}}{% endif %}' id="name=" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mb-3">
                                                        <label>Address</label>
                                                        <input type="text" placeholder="Enter Address" maxlength="500" value='{% if property.address %}{{property.address}}{% endif %}' name="address" id="address" class="form-control">
                                                        <input type="hidden" name="latitude" value='{% if property.longitude %}{{property.longitude}}{% endif %}' id="latitude" >
                                                        <input type="hidden" name="longitude" value='{% if property.latitude %}{{property.latitude}}{% endif %}' id="longitude">
                                                        <span class="add-property-error error" ></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Property Price ($)</label>
                                                        <input type="text" name="cost" maxlength='15' onkeypress="return /[0-9]/i.test(event.key)" value='{% if property.cost %}{{property.cost}}{% endif %}' id="cost" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Property Type</label>
                                                        <select class="form-control form-select" name='category' id='category'>
                                                        <option value=''>select property type</option>
                                                        {% for i in category %}
                                                            <option {% if property.category.id == i.id %} selected {% endif %} value='{{i.id}}'>{{i.category}}</option>
                                                        {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Property For</label>
                                                        <select class="form-control form-select" name='property_for' id='property_for'>
                                                            <option value=''>select</option>
                                                            <option {% if property.property_for == 1 %} selected {% endif %} value='1'>Sale</option>
                                                            <option {% if property.property_for == 2 %} selected {% endif %} value='2'>Rent</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for ="property_video" >Upload video</label>
                                                            <input type="file" name="property_video"  id = "property_video" class="form-control">  
                                                            <span id = "video_error" class = "error"></span>                                                     
                                                    </div>
                                                </div>
                                              
                                              
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Postal Code</label>
                                                        <input type="text" name="postal_code"  maxlength='10' onkeypress="return /[1-9]/i.test(event.key)" value="{% if property.postal_code %}{{property.postal_code}}{% endif %}" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Commission(%)</label>
                                                        <input type="text" name="commission" 
                                                            onkeypress="return /[0-9]/i.test(event.key)" value ="{% if property.broker_commission_percentage %}{{property.broker_commission_percentage}}{% endif %}"
                                                            class="form-control" placeholder="Enter Commission Percentage">
                                                    </div>
                                                </div>

                                                <div class="col-md-6" {% if property.available_from %}style = "display:block"{% else %}style = "display:none"{% endif %} id = "start_div">
                                                    <div class="form-group">
                                                        <label>Available From</label>
                                                        <input type="date" id = "start_date" name="available_from" value = "{{property.available_from|date:'Y-m-d'}}"
                                                            class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-6" id = "end_div" {% if property.available_to %}style = "display:block"{% else %}style = "display:none"{% endif %} >
                                                    <div class="form-group">
                                                        <label>Available To</label>
                                                        <input type="date" id = "end_date" name="available_to" value = "{{property.available_to|date:'Y-m-d'}}"
                                                            class="form-control">
                                                            <p style = "color:red" id ="end_error"></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 div_description">
                                                    <div class="form-group">
                                                        <label>Property Description</label>
                                                        <textarea id='content'  class="form-control" name="description">{% if property.description %}{{property.description|safe}}{% endif %}</textarea>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                           
                                <div class="card mb-4 ">
                           
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Add Images</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="sidebar-widget property-form-group px-4 div_images">
                                            <div class="upload-images">
                                                <input type="file" name='property_images' id='property_images'  multiple>
                                                <span><i class="fa fa-cloud-upload"></i> Click here or drop files to
                                                    upload</span>
                                            </div>
                                        </div>

                                        <p class = "error" id = "empty_image_error"></p>
                                        {% if property.property_images.all %}
                                        <div class="img-thumbs" id="img-preview"><div>
                                        {% else %}
                                        <div class="img-thumbs-hidden" id="img-preview"></div>
                                        {% endif %}
                                        {% if property.property_images.all %}
                                        {% for image in  property.property_images.all %}
                                        <div class="wrapper-thumb">
                                            <input type="text" hidden  name="current_photoes" id="current_photoes" value="{{image.image}}" />
                                            <img src="{{image.image.url}}" class="img-preview-thumb">
                                            <span class="remove-btn" onclick="RemoveFile(this,'previous')" image-name="{{image.image}}">x</span>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                                
                                    </div>
                            </div>
                          
                            <div class="clearfix"></div>
                                <!--property feature -->
                                <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Property Features</h4>
                                        </div>
                                        <div class="card-body">
                                        <div class="sidebar-widget property-form-group px-4">
                                            <div class="row m-0 customfield">
                                                <div class="col-md-5 col-xl-5">
                                                    <div class="row m-0 customfield">
                                                        <div class="col-md-7 col-xl-7 p-0">
                                                            <div class="form-group">
                                                                <label>Property Size</label>
                                                                <input class="form-control" maxlength='10' onkeypress="return /[0-9]/i.test(event.key)" name='property_size' value="{% if property.size %}{{property.size}}{% endif %}" type="text" placeholder="" />

                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 col-xl-5 p-0">
                                                            <div class="form-group ">
                                                                <label>Unit</label>
                                                                <select class="form-control form-select" name='unit' id='property_for'>
                                                                    <option value=''>select</option>
                                                                    <option {% if property.unit == 1 %}selected{% endif %} value='1'>square feet</option>
                                                                    <option {% if property.unit == 2 %}selected{% endif %} value='2'>square meter</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-xl-7">
                                                    <div class="row">
                                                        <div class="col-md-4 col-xl-4">
                                                            <div class="form-group">
                                                                <label>Number Of Bedrooms</label>
                                                                <input class="form-control" name='bedrooms' value="{% if property.bedrooms %}{{property.bedrooms}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" type="text" maxlength='5' />

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-xl-4">
                                                            <div class="form-group">
                                                                <label>Number Of Bathrooms</label>
                                                                <input class="form-control" name='bathrooms' value="{% if property.bathrooms %}{{property.bathrooms}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" type="text" maxlength='5'/>

                                                            </div>
                                                        </div>
                                                        <div class=" col-md-4 col-xl-4">
                                                            <div class="form-group">
                                                                <label>Number Of Garages</label>
                                                                <input class="form-control" name='garages' value="{% if property.garages %}{{property.garages}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" type="text" maxlength='5' />

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--property feature end -->
                                <!--property amenty  -->
                                <div class="card my-2">
                                    
                                        <div class="card-header ">
                                            <h4 class="card-title mb-0">Property Amenities</h4>
                                        </div>
                                        <div class="card-body">
                                        <div class="catgory-check-card checkbox-list-scroll d-flex">
                                            {% for amenty in ammenties %}
                                            <div class="checkbox-animate">
                                                <label>
                                                    <input type="checkbox" {% if amenty in property.amenties.all %}checked{% endif %} name="amenties" value="{{amenty.id}}">
                                                    <span class="input-check"></span>
                                                    {{amenty.title}}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div> 
                                        <div class="col-md-12 text-end mt-5">
                                            <button type="submit" id="btn" class="btn theme-btn">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--property amenty  end -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% include 'broker/includes/footer.html' %}
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_PLACES_KEY}}&libraries=places&callback=CheckAddress" async defer></script>

<script>
    CKEDITOR.replace('content',{
        disallowedContent: 'img'
    });
</script>
<script>
    if ($('textarea').val()) {
        $('textarea').val($('textarea').val().trim())
    }
    $("#address").keyup(function () {
        var autocomplete = new google.maps.places.Autocomplete($("#address")[0], {});
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            $('#latitude').val(place.geometry.location.lat())
            $('#longitude').val(place.geometry.location.lng())
        });
    });
    $('#address').change(function(){
        $('.add-property-error ').text("");
    })
    $('#address').on('keypress', function(e) {
        return e.which !== 13;
    });
    function CheckAddress(formID) {
        if ($('#' + formID).length) {
            if ($('#' + formID).valid()) {
                if ($('#latitude').val() == "" && $('#longitude').val() == "") {
                    $('.' + formID + '-error').text("Please enter a valid location")
                    return false;
                }
                else {
                    $('.' + formID + '-error').text("")
                    Loader(formID);
                    return true;
                }
            }
        }
    }

   

    $("#edit-property").validate({
        ignore: [],
        rules: {
            name: {
                required: true,
                // ckspecial: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
                minlength:3,
                maxlength:55,
            },
            cost: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
                min:1,
                max: 1000000000,
            },
            category: {
                required: true,
                
            },
            commission: {
                required:true,
                min:1,
                max:50,

            },
            property_for: {
                required: true,
            },
            address: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
            },
            postal_code: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
            },
            description: {
                required: function(textarea) {
                    CKEDITOR.instances[textarea.id].updateElement();
                    var editorcontent = textarea.value.replace(/]*>/gi, '');
                    return editorcontent.length === 0;
                }
            },
            property_images: {
                accept: "jpg,png,jpeg,gif,svg"
            },
            property_size: {
                required: true,
                min:1,
            },
            unit: {
                required: true,
            },
            available_from: {
                required: function(value){
                    if($('#start_div').attr('style').includes('none')){
                        return false
                    }else{
                        return true
                    }
                },
            },
            available_to: {
                required: function(value){
                    if($('#end_div').attr('style').includes('none')){
                        return false
                    }else{
                        return true
                    }
                },
            },
            bedrooms: {
                required: true,
                min:1,
            },
            bathrooms: {
                required: true,
                min:1,
            },
            garages: {
                required: true,
                min:1,
            },
            property_video: {
                accept: "mp4"
            },
        },
        messages: {
            name: {
                required: "Please enter property name",
                min:"Full name should be at least 3 characters",
                max:"Full name should not be more than 55 characters",
                // ckspecial: "No Special Charaters allowed except [, . - _ / ']"
            },
            cost: {
                required: "Please enter property price",
                min: "Please enter amount greater than 0",
                max: "Please enter amount lesser than $ 1 Billion"
            },
            category: {
                required: "Please select type"
            },
            property_for: {
                required: "Please select property for"
            },
            address: {
                required: "Please enter address",
            },
            commission: {
                required: "Please enter commission",
            },
            postal_code: {
                required: "Please enter address",
            },
            description: {
                required: "Please enter description",
            },
            available_from: {
                required: "Please select available from date"
            },
            available_to: {
                required: "Please select available to date"
            },
            property_size: {
                required: "Please enter property size",
                min: "Please enter a value greater than 0"
            },
            
            unit: {
                required: "Select unit",
            },
            bedrooms: {
                required: "Please enter bedrooms",
                min: "Please enter a value greater than 0"
            },
            bathrooms: {
                required: "Please enter bathrooms",
                min: "Please enter a value greater than 0"
            },
            garages: {
                required: "Please enter garages",
                min: "Please enter a value greater than 0"
            },
            property_images: {
                accept: "Please upload file in these format only (jpg, jpeg, png, gif,svg)"
            },
            property_video: {
                accept: "Please upload file in mp4 format only"
            }

        },
       errorPlacement: function (error, element) {
            if (element.attr("name") == "property_images") {
                error.insertAfter(".div_images");
            }
            else if (element.attr("name") == "description") {
                error.insertAfter(".div_description");
            }
            else {
                error.insertAfter(element);
            }
        },
    });  

      // for company image 
    const property_images = new DataTransfer();
    var imgUpload = document.getElementById('property_images')
    , imgPreview = document.getElementById('img-preview')
    , imgUploadForm = document.getElementById('form-upload')
    , totalFiles
    , previewTitle
    , previewTitleText
    ,image_position
    ,clickfunction
    , img;
    imgUpload.addEventListener('change', previewImgs, true);
    function previewImgs(event) {
        // to remove all images first 
        $('.new-added').remove()
        property_images.clearData()
        totalFiles = imgUpload.files.length;
            if(!!totalFiles) {
            imgPreview.classList.remove('img-thumbs-hidden');
        }
        for(var i = 0; i < totalFiles; i++) {
            wrapper = document.createElement('div');
            wrapper.classList.add('wrapper-thumb');
            wrapper.classList.add('new-added');
            removeBtn = document.createElement("span");
            nodeRemove= document.createTextNode('x');
            removeBtn.classList.add('remove-btn');
            removeBtn.appendChild(nodeRemove);
            img = document.createElement('img');
            img.src = URL.createObjectURL(event.target.files[i]);
            // add to file
            property_images.items.add(event.target.files[i]);
            image_name = document.createAttribute("image-name");
            image_name.value = event.target.files[i].name
            clickfunction = document.createAttribute("onclick");
            clickfunction.value = "RemoveFile(this,'current')";
            removeBtn.setAttributeNode(clickfunction);
            // add to file end
            removeBtn.setAttributeNode(image_name);
            img.classList.add('img-preview-thumb');
            wrapper.appendChild(img);
            wrapper.appendChild(removeBtn);
            imgPreview.appendChild(wrapper);
        }
    }
    function RemoveFile(object,state){
        $(object).parent('.wrapper-thumb').remove();
        let remainhtml = $('#img-preview').html().trim()
        if(state == 'current'){
            for(let i=0; i < property_images.files.length;i++){
                if (property_images.files[i].name == $(object).attr('image-name')){
                    property_images.items.remove(i)
                }
            }
            imgUpload.files = property_images.files;
        }
        if(!remainhtml){
            $('#img-preview').html('');
            $('#img-preview').addClass('img-thumbs-hidden');
        }
    }
    $('#property_video').bind('change', function() {
        let size = this.files[0].size
        if(size>20000000){
            $("#video_error").html('File size must be less than 20 mb')
            $(".btn").prop("disabled",true)
        }
        else{
            $("#video_error").html('')
            $(".btn").prop("disabled",false)
        }

      });


$('#btn').click(function(){
    let new_image = $(".img-preview-thumb").length
    if (new_image == 0){
        $("#empty_image_error").html("Please select images")
        return false
    }else{
        $("#empty_image_error").html("")
        return true
    }
})

$(function(){
    var dtToday = new Date();
 
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;
    $('#start_date').attr('min', maxDate);
});


$("#end_date").change(function(){
    let start_date = $("#start_date").val()
    let end_date = $("#end_date").val()
    if(end_date <= start_date){
        $("#end_error").html("End date must be greater than start date")
        $(".btn").prop("disabled",true)
    }else{
        $("#end_error").html("")
        $(".btn").prop("disabled",false)
    }

})
$("#start_date").change(function(){
    let start_date = $("#start_date").val()
    let end_date = $("#end_date").val()
    if(end_date <= start_date && end_date!= ""){
        $("#end_error").html("End date must be greater than start date")
        $(".btn").prop("disabled",true)
    }else{
        $("#end_error").html("")
        $(".btn").prop("disabled",false)
    }

})

$("#property_for").on("change",function(){
    let val = $("#property_for").val()
    if(val == 2){
        $("#start_div").attr("style","display:block;")
        $("#end_div").attr("style","display:block;")
    }else{
        $("#start_div").attr("style","display:none;")
        $("#end_div").attr("style","display:none;")
    }
    
})
</script>