{% include 'broker/includes/header.html' %}
{% load static %}
{% load extras %}


<section class="user-page section-padding">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-lg-3 col-md-12 pl-0 pr-0 user-dash">
                {% include 'broker/includes/sidebar.html' %}
            </div>
            <div class="col-lg-12 pl-0 user-dash2">
                <ul class="breadcrumbs">
                    <li class="breadcrumb-item"><a href="{% url 'frontend:index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Property Detail</li>
                </ul>
                <div class="page-body-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="custom-form">
                                <div class="card mb-4">
                                    <div class="card-body p-0">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h4 class="card-title">My Properties</h4>
                                        
                                        <div class="ms-auto">
                                            {% if property.broker.id == request.user.id %}
                                            <a href="{% url 'broker:publish_unpublish_property' property.id %}" class="btn theme-btn btn-sm me-2">{% if property.is_active %}UnPublish{% else %}Publish{% endif %}</a>
                                            {% endif %}
                                            <a class="btn theme-btn btn-sm" href="{% url 'broker:properties_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
                                        </div>
                                        </div>
                                        <div class="sidebar-widget property-form-group p-0">
                                            <div class="property-inr-details">
                                                <div class="row mb-2">
                                                    <div class="col-lg-8">
                                                        <div class="proper-inr-top">
                                                            <h3>{% if property.name %}{{property.name}}{% else %}-{% endif %}</h3>
                                                            <ul class="entry-meta">
                                                                <li>
                                                                    <i class="fas fa-map-marker-alt"></i>{% if property.address %}{{property.address}}{% else %}-{% endif %}
                                                                </li>
                                                                <li><i class="far fa-clock"></i>
                                                                <script>
                                                                    var d = ConvertDateTime("{{ property.created_on|date:'Y-m-d' }}", "{{ property.created_on|time:'H:i' }}");
                                                                    document.write(d);
                                                                </script>
                                                                </li>
                                                                <li>
                                                                    <i class="far fa-eye"></i>Views: <span>{{property.id|property_views}}</span>
                                                                </li>
                                                                {% if property.available_from %}
                                                                <li>
                                                                    <i class="far fa-calendar"></i>Available From: <span>{{property.available_from|date:'Y-m-d'}} to {{property.available_to|date:'Y-m-d'}}</span>
                                                                </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="proper-inr-rt">
                                                            <div class="prop-cost">
                                                                {% if property.final_amount %}
                                                                <h4>${{property.final_amount|floatformat:"2g"}}</h4>
                                                                {% else %}
                                                                <h4>${{property.cost|floatformat:"2g"}}</h4>


                                                                {% endif %}
                                                            </div>
                                                            <div class="prop-link">
                                                                <ul>    
                                                                   
                                                                    
                                                                        <li class="justify-content-between d-flex">
                                                                                <h6>Original Price :</h6>
                                                                                <h6>{% if property.cost %}${{ property.cost|floatformat:"2g"}}{% else %}-{% endif %}</h6>
                                                                        </li>
                                                                        {% if property.admin_commission_percentage %}
                                                                        <li class="justify-content-between d-flex">
                                                                                <h6>Total Commission :</h6>
                                                                                <h6>{% if property.admin_commission_percentage %}{{property.admin_commission_percentage}}%{% else %}-{% endif %}</h6>
                                                                        </li>
                                                                        <li class="justify-content-between d-flex">
                                                                            <h6>Total Commission Price :</h6>
                                                                            <h6>{% if property.admin_commission_price %}${{property.admin_commission_price|floatformat:"2g"}}{% else %}-{% endif %}</h6>
                                                                         </li>
                                                                        {% endif %}
                                                                        {% if property.broker_commission_percentage %}
                                                                        <li class="justify-content-between d-flex">
                                                                                <h6>Your Commission :</h6>
                                                                                <h6>{{property.broker_commission_percentage}}%</h6>
                                                                        </li>
                                                                        {% endif %}
                                                                       
                                                                        <hr>
                                                                        {% if property.broker_commission_percentage or property.admin_commission_percentage%}
                                                                        <li class="justify-content-between d-flex">
                                                                                <h6>Final Price :</h6>
                                                                                <h6>${{ property.final_amount|floatformat:"2g"}}</h6>
                                                                        </li>
                                                                        {% endif %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xxl-8">
                                                     <div class="property-view position-relative mb-3">
                                                            <div class="gallery">                
                                                                <div class="swiper-container gallery-slider">
                                                                    <div class="swiper-wrapper">
                                                                        {% if property.property_video %}
                                                                        <div class="swiper-slide" onclick ="playVideo()">
                                                                                <video width="100%" height="100%" controls id = "play_video" onplay="myFunction('play')" onpause = "myFunction('pause')">
                                                                                <source src="{{property.property_video.url}}" type="video/mp4">
                                                                            </video>
                                                                        </div>
                                                                        {% endif %}
                                                                        {% if property.property_images.all %}
                                                                            {% for i in property.property_images.all %}
                                                                                <div class="swiper-slide" onclick="pauseVideo()">&nbsp;&nbsp;&nbsp;
                                                                                    <img src="{{i.image.url}}" />
                                                                                </div>
                                                                            {% endfor %}    
                                                                        {% else %}
                                                                            <div class="swiper-slide">
                                                                                <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                                                                            </div>
                                                                        {% endif %}  
                                                                    </div>
                                                                    <div class="swiper-button-prev"></div>
                                                                    <div class="swiper-button-next" onclick="pauseVideo()"></div>
                                                                </div>
                                                            
                                                                <div class="swiper-container gallery-thumbs">
                                                                     <div class="swiper-wrapper">
                                                                 
                                                                    {% if  property.property_video %}
                                                                    <div class="swiper-slide" onclick ="playVideo1()">
                                                                        <video width="100%" height="100%" controls id= "play_video1" onplay="myFunction('play')" onpause = "myFunction('pause')">
                                                                        <source src="{{property.property_video.url}}" type="video/mp4">
                                                                        </video> &nbsp;&nbsp;&nbsp;
                                                                    </div>
                                                                    {% endif %}
                                                                    {% if property.property_images.all %}
                                                                        {% for i in property.property_images.all %}
                                                                            <div class="swiper-slide" onclick="pauseVideo1()">
                                                                                <img src="{{i.image.url}}" />
                                                                            </div>
                                                                        {% endfor %}   
                                                                    {% else %}
                                                                        <div class="swiper-slide">
                                                                            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                                                                        </div>
                                                                    {% endif %}       
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="overview-card mb-3 property-widget">
                                                            <div class="product-overview">
                                                                <div class="item-heading">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <h2 class="heading-title">Overview</h2>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-amenities">
                                                                    <ul class="amenities-list">
                                                                      
                                                                        <li>
                                                                            <div class="amenities-icon">
                                                                                <i class="far fa-home"></i>
                                                                            </div>
                                                                            <div class="amenities-content">
                                                                                <h2 class="heading-title rtcl-field-radio">
                                                                                    Type </h2>
                                                                                <span class="cfp-value">
                                                                                    {{property.category.category}} 
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        {% comment %} <li>
                                                                            <div class="amenities-icon">
                                                                                <i class="far fa-car"></i>
                                                                            </div>
                                                                            <div class="amenities-content">
                                                                                <h2 class="heading-title rtcl-field-radio">
                                                                                    Parking </h2>
                                                                                <span class="cfp-value">
                                                                                    Yes </span>
                                                                            </div>
                                                                        </li> {% endcomment %}
                                                                        <li>
                                                                            <div class="amenities-icon">
                                                                                <i class="far fa-booth-curtain"></i>
                                                                            </div>
                                                                            <div class="amenities-content">
                                                                                <h2 class="heading-title rtcl-field-select">
                                                                                    Bedroom </h2>
                                                                                <span class="cfp-value">
                                                                                    {{property.bedrooms}} </span>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="amenities-icon">
                                                                                <i class="fas fa-shower"></i>
                                                                            </div>
                                                                            <div class="amenities-content">
                                                                                <h2 class="heading-title rtcl-field-select">
                                                                                    Bath </h2>
                                                                                <span class="cfp-value">
                                                                                    {{property.bathrooms}} </span>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="amenities-icon">
                                                                                <i class="far fa-ruler-vertical"></i>
                                                                            </div>
                                                                            <div class="amenities-content">
                                                                                <h2 class="heading-title rtcl-field-number">
                                                                                   {% if  preoperty.unit == 1 %} Sqft{% else %}Sqmt{% endif %} </h2>
                                                                                <span class="cfp-value">
                                                                                    {{property.size}} </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class="" style="">
                                                                            <div class="amenities-icon">
                                                                                <i class="fas fa-cog"></i>
                                                                            </div>
                                                                            <div class="amenities-content">
                                                                                <h2 class="heading-title rtcl-field-radio">
                                                                                    Purpose </h2>
                                                                                <span class="cfp-value">
                                                                                    For{% if property.property_for == 1 %} Sale
                                                                                    {% else %}
                                                                                    Rent
                                                                                    {% endif %}</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="overview-card mb-3 property-widget">
                                                            <div class="product-overview">
                                                                <div class="item-heading">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            {% if property.amenties.all.count == 1%}
                                                                            <h2 class="heading-title">Amenity</h2>
                                                                            {% elif property.amenties.all.count > 1%}
                                                                            <h2 class="heading-title">Amenities</h2>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-amenities">
                                                                    <ul class="amenities-list">
                                                                    {% if property.amenties.all %}
                                                                        {% for data in property.amenties.all %}
                                                                        <li>
                                                                            <div class="card me-2">
                                                                                    <b>{{data.title}}</b>
                                                                            </div>
                                                                        </li>
                                                                        {% endfor %}
                                                                        {% else %}
                                                                        <li>
                                                                            <div class="card me-2">
                                                                                    <b>No amenity found</b>
                                                                            </div>
                                                                        </li>
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="property-dis-card property-widget">
                                                            <div class="product-description">
                                                                <div class="item-heading">
                                                                    <h2 class="heading-title">About This Listing</h2>
                                                                </div>
                                                                {{property.description|safe}}
                                                            </div>
                                                        </div>
                                                    </div>
                                    
                                                    <div class="col-xxl-4 mt-4">
                                              
                                                        {% comment %} <div class="propty-detail-listing property-widget download-wrapper mb-3 ">
                                                              <div class="inner-download">
                                                                <h2 class="heading-title">Download lease/contract documents</h2>
                                                                <button class="theme-btn">
                                                                    <span data-text="Open file">Down<wbr>load</span><div class="ms-2"><i class="fa fa-download" aria-hidden="true"></i></div>
                                                                </button>
                                                            </div>
                                                        </div> {% endcomment %}
                                                        <div class="propty-detail-listing property-widget">
                                                            <h2 class="heading-title">Latest Listings</h2>
                                                            {% if properties %}
                                                            {% for i in properties %}
                                                            <div onclick="location.href='{% url 'broker:property_details' i.id %}'" class="listing-item">
                                                                <div class="listing-thumb">
                                                                {% if i.property_images.all %}
                                                                    <a href="javascript:void(0);">
                                                                        <img src="{{i.property_images.first.image.url}}" alt="Thumb" class="rtcl-thumbnail">   
                                                                    </a>
                                                                {% else %}
                                                                    <a href="javascript:void(0);">
                                                                        <img src="{% static 'admin-assets/images/dp.png' %}" alt="Thumb" class="rtcl-thumbnail">   
                                                                    </a>
                                                                {% endif %}    
                                                                </div>
                                                                <div class="item-content">
                                                                  
                                                                    <h3 class="listing-title "><a href="javascript:void(0);">{{i.name}}</a></h3>
                                                                    <p><i class="fas fa-map-marker-alt me-1"></i>{{i.address}}</p>
                                                                    <div class="listing-price">
                                                                        <h4>${{i.final_amount|floatformat:"2g"}}/-</h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            {% else %}
                                                            <div class='text-center'>
                                                            <img src="{% static 'admin-assets/images/no-data.png' %}">
                                                            <h6>No Data Found.</h6>
                                                            </div>
                                                            {% endif %}
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade share-social-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLabel">Share Social Media</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-4">
            <ul class="social-list">
                <li class="social-item">
                    <a href="https://web.whatsapp.com/"  target="_blank"  class="social-links"><i class="fab fa-whatsapp"></i></a>
                </li>
                <li class="social-item">
                    <a href="https://www.instagram.com/" target="_blank" class="social-links"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="social-item">
                    <a href="https://twitter.com/" class="social-links" target="_blank" ><i class="fab fa-twitter"></i></a>
                </li>
                <li class="social-item">
                    <a href="https://www.facebook.com/" class="social-links" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="social-item">
                    <a href="https://www.facebook.com/" class="social-links" target="_blank"><i class="fab fa-google"></i></a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'broker/includes/footer.html' %}

<script> 
    function playVideo() { 
        $('#play_video').get(0).play(); 
    } 
  
    function pauseVideo() { 
        $('#play_video').get(0).pause(); 
        $('#play_video1').get(0).pause(); 
    } 

    function playVideo1() { 
        $('#play_video1').get(0).play(); 
    } 

    function pauseVideo1() { 
        $('#play_video').get(0).pause(); 
        $('#play_video1').get(0).pause(); 
    } 
    function myFunction(video){
        if (video == 'play'){
            $('#play_video1').get(0).play(); 
            $('#play_video').get(0).play(); 
    
        }else{
            $('#play_video1').get(0).pause(); 
            $('#play_video').get(0).pause(); 
        }
    }
    
    function CopyLink(){
        navigator.clipboard.writeText($('#url_link').val());
        document.execCommand("copy");
        $('#copy-link').attr("data-bs-original-title", "Copied!").tooltip('show');
    }
    function ResetLinkTooltip(){
        $('#copy-link').attr("data-bs-original-title", "Copy To Clipboard");
    }
</script>

