{% load static %}
{% include 'registration/includes/header.html' %}
<form class="theme-form" id="signup" method="POST" autocomplete="off">
    <h4 class="text-center">Sign Up</h4>
    <p class="text-center">Enter your details to create your account</p>
    <div class="form-login required-field mb-2">
        <label class="form-label">User Role</label>
        <div class="d-flex role-div">
            <div class="form-check radio me-4 mb-0">
                <label for="buyer">
                  <input  type="radio" name="role_id" value="2" id="buyer"> Buyer
                  <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-check radio me-4 mb-0">
                <label for="seller">
                <input  type="radio" name="role_id" value="3" id="seller"> Seller
                <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-check radio me-4 mb-0">
                <label for="broker">
                <input type="radio" name="role_id" value="4" id="broker"> Broker
                <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <input type = "hidden" name = "returnUrl" value= "{{returnUrl}}">
    <input type = "hidden" name = "broker" value= "{{id}}">
    <input type = "hidden" name = "property" value= "{{property}}">
    <div class="form-group mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input autocomplete="new-email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
            name="email" placeholder="Please enter your email address">
    </div>
    <div class="form-group mb-3">
        <label for="mobile_no" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="mobile_no" name="mobile_no"
            placeholder="Please enter your mobile number">
        <input id="country_code" type="hidden" name="country_code" value = "+234" class="form-control" maxlength="20">
        <input type="hidden" value = "ng" name="country_iso_code" id="country_iso_code" class="form-control" maxlength="10">
    </div>
    <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="pass-group">
            <input autocomplete="new-password" type="password" class="form-control pass-input" id="password" placeholder="Please enter your password" name="password">
            <span class="fas toggle-password fa-eye-slash"></span>
        </div>
    </div>
    <div class="remember-card mb-4">
        <div class="checkbox p-0 d-flex">
            <input id="terms_agreed" type="checkbox" name="terms_agreed">
            <label class="text-muted ms-2" for="terms_agreed">
                I agree to <a href="{% url 'frontend:terms_view' %}">Terms of Services</a> &
                <a href="{% url 'frontend:privacy_policy' %}">Privacy Policy</a>
            </label>
        </div>
    </div>
    <div class="text-end mt-3">
        <button type="submit" class="btn login-btn btn-block w-100">Sign Up</button>
    </div>
    
    <p class="signup-link mt-4 mb-0 text-center">Already have an account?<a class="ms-2"
            href="{% url 'accounts:login' %}">Sign In</a></p>
</form>
{% include 'registration/includes/footer.html' %}
<script type="text/javascript">
    jQuery.validator.addMethod("is_email_exists",
        function (value, element) {
            let is_valid = true
            $.ajax({
                url: "{% url 'accounts:validations' %}",
                type: "GET",
                data: { email: value },
                async: false,
                success: function (data) {
                    if (data.email == true) {
                        is_valid = false
                    } else {
                        is_valid = true
                    }

                },
            });
            return is_valid
        },
        'Email already exists!');
    jQuery.validator.addMethod("is_mobile_exists",
        function (value, element) {
            let is_valid = true
            $.ajax({
                url: "{% url 'accounts:validations' %}",
                type: "GET",
                data: { mobile_no: value, country_code: $('#country_code').val() },
                async: false,
                success: function (data) {
                    if (data.mobile_no == true) {
                        is_valid = false
                    } else {
                        is_valid = true
                    }

                },
            });
            return is_valid
        },
        'Mobile number already exists!');
    $.validator.addMethod(
        "strongpassword",
        function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Please Choose strong password."
    );
    $("#signup").validate({
        rules: {
            email: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
                is_email_exists: true,
                email: true,
            },
            mobile_no: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
                number: true,
                is_mobile_exists: true,
                minlength: 8,
                maxlength: 15,
            },
            password: {
                required: true,
                minlength: 8,
                maxlength: 35,
                normalizer: function (value) {
                    return $.trim(value);
                },
                strongpassword: "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$",
            },
            terms_agreed: {
                required: true
            },
            role_id: {
                required: true,
            },
        },
        messages: {
            email: {
                required: "Please enter your email address",
            },
            mobile_no: {
                required: "Please enter your mobile number",
                minlength: "Mobile number should be at least 8 digits",
                maxlength: "Mobile number should not be more than 15 digits",
            },
            password: {
                required: "Please enter your password",
                minlength: "At least 8 characters required!",
                maxlength: "At most 35 characters only!",
                strongpassword: "Password must have one uppercase, lowercase, symbol and number",
            },
            terms_agreed: {
                required: "Please agree with our terms and conditions"
            },
            role_id: {
                required: "Please select user role",
            },
        },
        errorPlacement: function (error, element) {
            if (element.attr("name") == "terms_agreed") {
                error.insertAfter(".checkbox");
            } else if (element.attr('name') == 'role_id') {
                error.insertAfter('.role-div')
            }
            else {
                error.insertAfter(element);
            }
        },
    });
    // For country code picker
    $("#mobile_no").intlTelInput({
        initialCountry: "ng",
        separateDialCode: true,
        geoIpLookup: function (callback) {
            fetch("https://ipapi.co/json")
                .then(function (res) { return res.json(); })
                .then(function (data) {
                    callback(data.country_code);
                    $('#country_code').val(data.country_code)
                    $('#country_iso_code').val(data.country_calling_code)
                }).catch(function () {
                    callback("in");
                    $('#country_code').val('ng')
                    $('#country_iso_code').val('+234')
                });
        }
    }).on('countrychange', function (e, countryData) {
        $('#country_code').val($('.iti__selected-dial-code').text())
        $('#country_iso_code').val($("#mobile_no").intlTelInput("getSelectedCountryData").iso2)
    });
</script>