{% load static %}
{% load extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Service Booking </title>
    <link rel="shortcut icon" href="{% static 'admin-assets/images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'admin-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'admin-assets/css/flash.css' %}">
    <link rel="stylesheet" href="{% static 'admin-assets/fonts/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-assets/css/intlTelInput.css' %}">
    <link rel="stylesheet" href="{% static 'admin-assets/css/static-css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin-assets/css/static-css/responsive.css' %}">
</head>

<body>
    {% if messages %}
    <div class="flash animate--drop-in-fade-out">
        {% for message in messages %}
        <div class="flash__icon">
            <i class="icon far fa-check-circle"></i>
        </div>
        <span class="flash__body">{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}
    <div class="main-wrapper main-page-header ">
        <div class="header-card">
            <div class="container">
                <div class="header main-head d-flex align-items-center justify-content-between">
                    <div class="header-left active outer-header">
                        <a href="{% url 'frontend:index' %}" class="logo logo-normal d-flex align-items-center">
                            <img src="{% static 'admin-assets/images/bro.png' %}" alt="img">
                        </a>
                    </div>

                    <div class="d-flex align-items-center">
                        <ul class="nav user-menu d-none d-md-none d-lg-flex">
                            <li class="nav-item dropdown d-flex align-items-center">
                                <a href="{% url 'frontend:index' %}" class="nav-link me-2">
                                    Home
                                </a>
                            </li>
                            {% if 1|other_pages_types %}
                            <li class="nav-item dropdown d-flex align-items-center dropdown">
                                <a href="{% url 'frontend:index' %}" class="nav-link dropdown-toggle me-2" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                                </a>                              
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                
                                {% for page in 1|other_pages_types %}
                                  <li><a class="dropdown-item" href="{% url 'frontend:other' page.id %}">{{page.title}}</a></li>
                                  {% endfor %}                                
                                </ul>
                            </li>
                            {% endif %}

                            <li class="nav-item dropdown d-flex align-items-center">
                                <a href="{% url 'frontend:properties_list' %}" class="nav-link me-2">
                                    Properties
                                </a>
                            </li>
                            <li class="nav-item dropdown d-flex align-items-center">
                                <a href="{% url 'frontend:a_frame' %}" class="nav-link me-2">
                                    A-Frame
                                </a>
                            </li>

                            <li class="nav-item dropdown d-flex align-items-center">
                                <a href="{% url 'frontend:blog_list' %}" class="nav-link me-2">
                                    Blogs
                                </a>
                            </li>
                            <li class="nav-item dropdown d-flex align-items-center">
                                <a href="{% url 'frontend:about_us' %}" class="nav-link me-2">
                                    About Us
                                </a>
                            </li>
                            <li class="nav-item dropdown d-flex align-items-center">
                                <a href="{% url 'frontend:how_we_work' %}" class="nav-link me-2">
                                    Our Services
                                </a>
                            </li>

                            <li class="nav-item dropdown d-flex align-items-center">
                                <a href="{% url 'frontend:contact_us' %}?id={{request.GET.id}}&returnUrl={{returnUrl}}&property={{property.id}}" class="nav-link me-2">
                                    Contact Us
                                </a>
                            </li>
                            <li class="nav-item header-btn">
                                <a href="{% url 'accounts:login' %}?id={{request.GET.id}}&returnUrl={{returnUrl}}&property={{property.id}}" class="btn theme-btn">
                                    Login
                                </a>
                            </li>
                        </ul>
                        <div class="mobile-menu-card d-md-block d-lg-none">
                            <div class="mobile-links">
                                <a class="btn btn-primary bars-btn d-md-block d-lg-none ms-3" data-bs-toggle="offcanvas"
                                    href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                    <i class="far fa-bars"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body">
                <div class="mobile-menu">
                    <div class="sider-card">
                        <a href="/" class="logo logo-normal d-flex align-items-center">
                            <img src="" alt="img">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="side-bar-links">
                        <ul class="side-link-list">
                            <li><a href="{% url 'frontend:index' %}">Home </a></li>
                            <li><a href="{% url 'frontend:properties_list' %}">Properties </a></li>
                            <li><a href="{% url 'frontend:about_us' %}">About us</a></li>
                            <li><a href="{% url 'frontend:how_we_work' %}">Our Services</a></li>
                            <li><a href="{% url 'frontend:contact_us' %}">Contact Us</a></li>
                            <li><a href="{% url 'accounts:login' %}">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<div class="body-flex-wrapper">
<script src="{% static 'admin-assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'admin-assets/js/moment.min.js' %}"></script>
<script>
    function ConvertDateTime(createdate, createtime) {
        var d = createdate + "T" + createtime + "Z";
        const date = d;
        const local = moment.utc(date).local().format("Do MMM YYYY hh:mm A");
        return local;
    }
</script>
