{% include 'seller/includes/header.html' %}
{% load static %}
{% load extras %}
<section class="user-page section-padding">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-lg-3 col-md-12 col-xs-12 pl-0 pr-0 user-dash">
                {% include 'seller/includes/sidebar.html' %}
            </div>
            <div class="col-lg-12 pl-0 user-dash2">
                <ul class="breadcrumbs">
                    <li class="breadcrumb-item"><a href="{% url 'seller:seller_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Our Services</li>
                </ul>
                <div class="page-body-wrapper">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <h4 class="card-title">Our Services</h4>
                                </div>
                                <div class="card-body">
                                    <div class="sidebar-widget my-properties ">
                                        <div class="blog-single-area py-5">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="about-wrapper">
                                                        {% if data %}
                                                        <div class="section-heading mb-md-0 mb-10 justify-content-center">
                                                            <h3>{{data.title}}</h3>
                                                            
                                                        </div>
                                                        <div class="mt-5 paragraph-text">{{data.description|safe}}</div>
                                                        {% else %}
                                                        <div class="section-heading mb-md-0 mb-10 justify-content-center">
                                                            <h3>{{data}}</h3>
                                                            <span class="heading-line">
                                                                <div class="rectangle-outer">
                                                                    <span class="rectangle-box"></span>
                                                                </div>
                                                            </span>
                                                        </div>
                                                        <p class="paragraph-text mt-2">No Data Found</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'seller/includes/footer.html' %}