{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Services Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'frontend:index' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text"
                                href="{% url 'static_pages:how_it_works_list' %}">Our Services</a>
                        </li>
                        <li class="breadcrumb-item active">View Service </li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-secondary" href="{% url 'static_pages:how_it_works_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">
                         
                                <li>
                                    <h4>Title </h4>
                                    <h6><b>{% if data.title %}{{data.title}}{% else %}-{% endif %}</b></h6>
                                </li>
                              
                                <li>
                                    <h4>Created On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ data.created_on|date:'Y-m-d' }}", "{{ data.created_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Updated On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ data.updated_on|date:'Y-m-d' }}", "{{ data.updated_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Description</h4>
                                    <h6>
                                        <span id="static-content">{% if data.description %}{{data.description|safe}}{% else %}-{% endif %}</span>
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}